@model IEnumerable<CoffeeShop.Model.OrderItemModel>

@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

@using (Html.BeginForm("OrderDrink", "Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Raw(TempData["msg"])
    <div style="height:70px">
        Select Office : @Html.DropDownList("SelectedOffice", (IEnumerable<SelectListItem>)ViewBag.SelectedOffice, new { @class = "breadcrumb" })
    </div>
    <div style="height:70px">
        Customer Name : <input type="text" id="btnClientName" class="breadcrumb" style="width:450px" name="clientName" required />
    </div>
    <div style="height:30px">Choose :</div>
    <div>
        <input type="submit" value="Double Americano" name="DoubleAmericano" class="btn btn-primary" style="height:150px; width:150px" />
        <input type="submit" value="Sweet Latte" name="SweetLatte" class="btn btn-primary" style="height:150px; width:150px" />
        <input type="submit" value="Flat White" name="FlatWhite" class="btn btn-primary" style="height:150px; width:150px" />
    </div>
}
